<div class="header">
    <div class="content">
        <p class="byline brandon">THANKS FOR SIGNING UP</p>
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">

        <div class="mammoth">
        </div>
        <div class="share-wrap">
          <p class="why brandon">THE FUTURE OF WEIGHT LOSS IS HERE<br />DON'T LEAVE YOUR FRIENDS BEHIND</p>
            <p class="title brandon">INVITE FRIENDS &<br>Earn Products</p>
            <p class="subtitle brandon">Share your unique link via email, Facebook or Twitter and earn <br>"No Sacrifice Diet" products for each friend who signs up. Or copy and paste your link and send by email.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "Can't wait for @nosacrificediet to launch. Lose weight without any sacrifice...for Free!" %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=No Sacrifice Diet products" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<%
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }
 %>

<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">

    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
          <li class="title brandon"><p class="friends">Friends Who Have Joined</p><p class="rewards"><%= image_tag("refer/logo.jpg") %></p>
            <p style="text-transform: initial; font-weight: 100;text-align: left;margin-left:10px">Breakthrough Medical Science and Internet Technology converge for the first time ever to bring you weight loss, without sacrifice.<br><br>Eat the foods you love, lose 12 Lbs every 30 days.<br><br>(*Exercise not required)</p>
          </li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>
                    <p><%= image_tag(stop["image"], size: "75x100") %></p>
                    <div class="description">
                      <%= stop["description"].html_safe %>
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <%
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

        <div style="width: 300px; margin: 0 auto; margin-top: 40px;">
        <script type="text/javascript" src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=300&amp;wne=6&amp;srefs=0"></script><noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>
        </div>

    </div>
</div>
